/Java/JAVA_T7_2024/target/
/Java/JavaApplication1/nbproject/private/
/Java/JavaApplication1/build/
/Java/JavaApp/nbproject/private/
/Java/JavaApp/build/
/Java/Java_t7_2024/nbproject/private/
/Java/Java_t7_2024/build/
/Java/QLSV/nbproject/private/
/Java/JavaApplication5/nbproject/private/
/Java/JavaApplication5/build/
/Java/JavaApplication5/dist/
/Java/TestJava/nbproject/private/
/Java/TestJava/build/
/Java/testJDBC/nbproject/private/
/Java/testJDBC/build/
/Java/BaiTap2GUI/target/
/Java/th2_CSDL/target/
